@import url('../css/fonts.css');

html{
    margin:0%;
    box-sizing:border-box;
    overflow: hidden;
}


:root{

    --text-gray:#3f4954;
    --text-light:#686666da;
    --bg-color:#0f0f0f;
    --whitle:#ffffff;
    --midnight:#104f55;

    --sky:linear-gradient(120deg,#a1c4fd 0%,#c2e9fb 100%);

    --Abel:'Abel',cursive;
    --Anton:'Anton',cursive;
    --Josefin:'Josefin',cursive;
    --Lexend:'Lexend',cursive;
    --Livvic:'Livvic',cursive;
}

/*------GLOBAL CLASS--------*/
a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}
/*----X ----GLOBAL CLASS---X-----*/
a{
    text-decoration: none;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
/*------Navigation Bar---------*/
.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover{
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a{
    color: var(--whitle);
}

.nav .nav-brand a{
    font-size:1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Abel);
    font-size:1.6rem;
}

.nav .social{
    padding: 1.4rem 0;
}
/*-----Navigation Bar-----x----*/

/*------View port------*/
@media only screen and(max-width:750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }
}
/*------View port----x-----*/